* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #bfbfbf;
    font-family: Trebuchet MS, Arial, sans-serif;
}

#wrapper {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.layout {
    margin-bottom: 40px;
}

#container-float,
#container-flex {
    width: 600px;
    height: 600px;
    background: #ffffff;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

span {
    font-size: 22px;
    font-weight: bold;
}

/* FLOAT */
#top-block-float {
    height: 50%;
    width: 100%;
}

#top-img-float {
    float: left;
    width: 40%;
    height: 100%;
    background: #c8dcf5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-text-float {
    float: left;
    width: 60%;
    height: 100%;
    background: #bce8ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#middle-img-float {
    width: 100%;
    height: 25%;
    background: #1f73d0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-text-float {
    width: 100%;
    height: 25%;
    background: #fff3a4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clear-float {
    clear: both;
}

/* FLEX */
#top-block-flex {
    width: 100%;
    height: 50%;
    display: flex;
}

#top-img-flex {
    width: 40%;
    background: #c8dcf5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-text-flex {
    width: 60%;
    background: #bce8ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#middle-img-flex {
    width: 100%;
    height: 25%;
    background: #1f73d0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-text-flex {
    width: 100%;
    height: 25%;
    background: #fff3a4;
    display: flex;
    justify-content: center;
    align-items: center;
}
